<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{1334,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,117}}</string>
                <key>sourceSize</key>
                <string>{1334,117}</string>
            </dict>
            <key>bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1522},{366,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,24}}</string>
                <key>sourceSize</key>
                <string>{366,24}</string>
            </dict>
            <key>bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1498},{366,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,24}}</string>
                <key>sourceSize</key>
                <string>{366,24}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>bg_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1324},{174,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,379}}</string>
                <key>sourceSize</key>
                <string>{174,379}</string>
            </dict>
            <key>bt_cancle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1484},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>bt_cancle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1484},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>bt_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1334},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>bt_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1541},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>bt_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1541},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>bt_ensure_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1410},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>bt_ensure_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1410},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>btn_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1546},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>btn_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1546},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>btn_dwn.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1334},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>btn_open_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1280},{201,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{211,73}</string>
            </dict>
            <key>btn_open_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1397},{211,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,73}}</string>
                <key>sourceSize</key>
                <string>{211,73}</string>
            </dict>
            <key>btn_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1470},{201,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{211,73}</string>
            </dict>
            <key>btn_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1324},{211,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,73}}</string>
                <key>sourceSize</key>
                <string>{211,73}</string>
            </dict>
            <key>btn_setting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1546},{122,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,52}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>btn_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1546},{122,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,52}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>btn_trust_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1280},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>btn_trust_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1280},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1484},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1280},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>game_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1280},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>game_leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1541},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>game_leave_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1546},{120,50}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{120,50}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>game_leave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1546},{120,50}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{120,50}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>land_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1280},{567,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,44}}</string>
                <key>sourceSize</key>
                <string>{567,44}</string>
            </dict>
            <key>land_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1280},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>land_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1546},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>land_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1546},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>land_leave_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1546},{120,50}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{120,50}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>land_leave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1546},{120,50}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{120,50}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>land_setting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1546},{122,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,52}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>land_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1546},{122,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,52}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>land_trust_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1280},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>land_trust_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1280},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public_res.png</string>
            <key>size</key>
            <string>{837,1611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:708676639bc92202c8d5d0b6ff4f15c7:1/1$</string>
            <key>textureFileName</key>
            <string>public_res.png</string>
        </dict>
    </dict>
</plist>
