<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,561},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>bg_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,408},{279,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,51}}</string>
                <key>sourceSize</key>
                <string>{279,51}</string>
            </dict>
            <key>bg_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{279,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,437}}</string>
                <key>sourceSize</key>
                <string>{279,437}</string>
            </dict>
            <key>btn_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,0},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,95}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>btn_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,912},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>btn_contact_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,426},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,94}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>btn_contact_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1017},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>btn_fight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,561},{139,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,143}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>btn_fight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,408},{149,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,153}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1039},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>btn_more_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,266},{160,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{160,79}}</string>
                <key>sourceSize</key>
                <string>{170,83}</string>
            </dict>
            <key>btn_more_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,96},{170,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,83}}</string>
                <key>sourceSize</key>
                <string>{170,83}</string>
            </dict>
            <key>btn_point_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,96},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>btn_point_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,96},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>btn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,700},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>btn_setting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,850},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>btn_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,806},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>btn_share_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,946},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,93}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>btn_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,541},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>btn_shop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,753},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,97}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>btn_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,699},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>btn_sign_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1121},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,92}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>btn_sign_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,647},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>clip_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{776,39}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{776,39}}</string>
                <key>sourceSize</key>
                <string>{848,43}</string>
            </dict>
            <key>icon_diamand.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,687},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,408},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,0},{250,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,408}}</string>
                <key>sourceSize</key>
                <string>{250,408}</string>
            </dict>
            <key>sp_logo_appstore.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,0},{541,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,104}}</string>
                <key>sourceSize</key>
                <string>{541,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newPlaza.png</string>
            <key>size</key>
            <string>{488,1213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de1a9cab27dd5d1d5cf84caec6363b1c:7126571f98ace2ff7c7d5d2a544e2ae4:b109bbc08e32d5964925f8b7a84a4e6c$</string>
            <key>textureFileName</key>
            <string>newPlaza.png</string>
        </dict>
    </dict>
</plist>
