<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_dadao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1239},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_dadao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,882},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_dadao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1092},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_dadao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1260},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_dadao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1217},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>jump_futou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1050},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,882},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,777},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,735},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1019},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>jump_lin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,735},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,735},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,630},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1217},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>jump_lu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,588},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,441},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,441},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,588},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1217},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>jump_shz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,441},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,588},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1080},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>jump_song_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,420},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,294},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,294},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,294},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1229},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>jump_ttxd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,210},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,210},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,147},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,882},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>jump_yin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,147},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,147},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,882},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>jump_zyt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1092},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemJump.png</string>
            <key>size</key>
            <string>{1008,1427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d5a3266c181b4d421a2c9d4eb58ee4a:1/1$</string>
            <key>textureFileName</key>
            <string>game1_itemJump.png</string>
        </dict>
    </dict>
</plist>
