<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1386},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1188},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,990},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,792},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,594},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,396},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,198},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1824},{198,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>common_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>common_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1677},{209,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,147}}</string>
                <key>sourceSize</key>
                <string>{209,147}</string>
            </dict>
            <key>common_icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>common_icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1468},{209,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,147}}</string>
                <key>sourceSize</key>
                <string>{209,147}</string>
            </dict>
            <key>common_icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>common_icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1259},{209,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,147}}</string>
                <key>sourceSize</key>
                <string>{209,147}</string>
            </dict>
            <key>common_icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>common_icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1050},{209,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,147}}</string>
                <key>sourceSize</key>
                <string>{209,147}</string>
            </dict>
            <key>common_icon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemCommon.png</string>
            <key>size</key>
            <string>{284,1961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9f06c28219129f18db7aace46c13c2:1/1$</string>
            <key>textureFileName</key>
            <string>game1_itemCommon.png</string>
        </dict>
    </dict>
</plist>
